//===================== SPINNER PRELOADER =============//

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.3),
      rgba(47, 48, 58, 0.3)
    ),
    url(/src/images/spinner/cinema-beckground.webp);

  @media screen and (min-width: 768px) {
    background-position: 54% 0%;
  }

  @media screen and (min-width: 1280px) {
    background-position: 0% 10%;
  }
}

.spinner__overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media screen and (min-width: 768px) {
    transform: translate(-40%, -50%);
  }

  @media screen and (min-width: 1280px) {
    transform: translate(-40%, -10%);
  }
}

.spinner__pic {
  animation: spinner 1.7s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner__text {
  margin-top: 20px;

  text-align: center;

  @include text-design(500, 24px, calc(30 / 24), 0.03em);

  @media screen and (min-width: 768px) {
    @include text-design(700, 30px, calc(35 / 30), 0.03em);
  }

  @media screen and (min-width: 1280px) {
    @include text-design(700, 30px, calc(35 / 30), 0.03em);
  }
}


//===================== ORANGE SPINNER ASYNC =============//

@keyframes spinner-line-fade-more {
  0%, 100% {
    opacity: 0; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25; /* minimum opacity */
  }
  40% {
    opacity: 1;
  }
}

@keyframes spinner-line-fade-default {
  0%, 100% {
    opacity: 0.22; /* minimum opacity */
  }
  1% {
    opacity: 1;
  }
}

@keyframes spinner-line-shrink {
  0%, 25%, 100% {
    /* minimum scale and opacity */
    transform: scale(0.5);
    opacity: 0.25;
  }
  26% {
    transform: scale(1);
    opacity: 1;
  }
}

.spinner-backdrop {
  background-color: $backdropColor;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-closed {
  display: none;
}