// ----------------fonts----------------

$main-font: Roboto, sans-serif;

// -----------------colors-----------------

$header-text-color: #ffffff;
$header-underline-color: #ff001b;
$films-title-color: #000000;
$films-subtitle-color: #ff6b08;
$button-color: #ff6b02;
$modal-button-color: #ff6b01;
$modal-background-color: #818181;
$film-information-color: #8c8c8c;
$footer-color: #f7f7f7;
$footer-text-color: #545454;
$backdropColor: rgba(0, 0, 0, 0.5);

// -----------------darkmode colors-----------------

$background-color: #1f1b24;
$header-color: #c9c9c9;
$darkmode-color-one: #029b8c;
$darkmode-color-two: #9f54fa;
$darkmode-color-three: #cf6679;
$footer-color-darkmode: #2c2635;
$register-form-text-color: #eee3e3;

// -----------------animation-----------------

$main-animation: all 250ms;

// =======================
$transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow: 0px 0px 7px 5px rgba(255, 107, 1, 0.6);
