$main-font: Roboto, sans-serif;

$header-text-color: #ffffff;
$header-underline-color: #ff001b;
$films-title-color: #000000;
$films-subtitle-color: #ff6b08;
$button-color: #ff6b02;
$modal-button-color: #ff6b01;
$modal-background-color: #818181;
$film-information-color: #8c8c8c;
$footer-color: #f7f7f7;
$footer-text-color: #545454;
