<header class="header">
  <div class="header__home container">
    <nav class="nav">
      <a class="nav__logo" href="./index.html">
        <svg class="nav__logo-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-site-logo"></use>
        </svg>
        <h1 class="nav__logo-title">
          Filmoteka
        </h1>
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link current" href="./index.html">HOME</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="./library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
    <form class="header__form" id="header-form">
      <input
        class="header__input"
        type="text"
        name="movie_title"
        placeholder="Movie search"
      />
      <button type="submit" class="header__button-search">
        <svg width="12" height="12" class="header__search-icon">
          <use href="./images/sprite.svg#icon-search-film"></use>
        </svg>
      </button>
    </form>
    <p class="header__form-message hidden">
      Search result not successful. Enter the correct movie name and try again
    </p>
    <!--  =========  REGISTRATION  =========== -->
    <div class="header__box-login-logout">
      <span id="loginUser"></span>
      <button
        id="btnLoginHeader"
        class="header__btn-login"
        type="button"
        aria-label="login"
        name="login"
      >
        Login
      </button>
      <div class="user-menu" id="userMenu">
        <span id="firstLetter" class="user-menu__first-letter"></span>
        <div class="user-menu__box">
          <p class="user-menu__title-hover">Portfolio and setting</p>
          <div class="user-menu__hiden">
            <ul class="user-menu__list">
              <li class="user-menu__item" id="userMenuName"></li>
              <li class="user-menu__item" id="changePassword">
                Change password
              </li>
              <li class="user-menu__item" id="setting">Setting</li>
              <li class="user-menu__item user-menu__item--btn">
                <button
                  id="btnLogoutHeader"
                  class="user-menu__btn-logout"
                  type="button"
                  aria-label="logout"
                  name="logout"
                >
                  Logout
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- =========================================== -->
  </div>
</header>
