<header class="header library">
  <div class="header__library container">
    <nav class="nav">
      <a class="nav__logo" href="./index.html">
        <svg class="nav__logo-icon" width="24" height="24">
          <use href="./images/sprite.svg#icon-site-logo"></use>
        </svg>
        <h1 class="nav__logo-title">Filmoteka</h1>
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="./index.html">HOME</a>
        </li>
        <li class="nav__item">
          <a class="nav__link current" href="./library.html">MY LIBRARY</a>
        </li>
      </ul>
    </nav>
    <div class="header__button-container">
      <button
        class="header__button header__button--active js-watched"
        type="button"
      >
        WATCHED
      </button>
      <button class="header__button js-queue" type="button">QUEUE</button>
    </div>
  </div>
</header>
