<div class="backdrop-team is-hidden-team" data-modal>
  <div class="modal-team">
    <button class="modal__btn-close-team" data-modal-close>
      <svg class="icon icon-close" width="16" height="16">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="team__title">Midnight squad</h2>
    <div class="team__wrapper-general">
      <div class="team__wrapper-up">
        <div class="team__member">
          <img class="photo team__link" src="./images/team/Maksym.jpeg" alt="Maksym">
          <div class="git-wrapper team__link">
            <a class="team__link" href="https://github.com/StelmakhM" target="_blank">
              <svg class="icon-github" width="25" height="25">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              Maksym
            </a>
          </div>
          <p class="team__position">Team Lead</p>
        </div>
        <div class="team__member">
          <img class="photo team__link" src="./images/team/Yevgen.jpg" alt="Yevgen">
          <div class="git-wrapper team__link">
            <a class="team__link" href="https://github.com/Yevhenii-Babii" target="_blank">
              <svg class="icon-github" width="25" height="25">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              Yevgen
            </a>
          </div>
          <p class="team__position">Scrum</p>
        </div>
      </div>
      <div class="team__wrapper-down">
        <div class="team__member">
          <img class="photo team__link" src="./images/team/Vova.jpg" alt="Vova">
          <div class="git-wrapper team__link">
            <a class="team__link" href="https://github.com/VovaShulepa" target="_blank">
              <svg class="icon-github" width="25" height="25">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              Vova
            </a>
          </div>
          <p class="team__position">Developer</p>
        </div>
         <div class="team__member">
          <img class="photo team__link" src="./images/team/new-maryna.jpg" alt="Maryna">
          <div class="git-wrapper team__link">
            <a class="team__link" href="https://github.com/Maryna-smile" target="_blank">
              <svg class="icon-github" width="25" height="25">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              Maryna
            </a>
          </div>
          <p class="team__position">Developer</p>
        </div>
        <div class="team__member">
          <img class="photo team__link" src="./images/team/Artem.jpeg" alt="Artem">
          <div class="git-wrapper team__link">
            <a class="team__link" href="https://github.com/IvanovArtemNA" target="_blank">
              <svg class="icon-github" width="25" height="25">
                <use href="./images/sprite.svg#icon-github"></use>
              </svg>
              Artem
            </a>
          </div>
          <p class="team__position">Developer</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>