<div class="backdrop is-hidden" data-modal>
  <div id="film-modal" class="modal">
    <button class="modal__btn-close" data-modal-close>
      <svg class="icon icon-close" width="16" height="16">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="general-wrapper">
      <div class="card__img-wrapper">
        <img data-card-image src="./images/Rectangle 18.jpg" alt="film-name" />
      </div>
      <div class="card__text-container">
        <h2 data-card-title class="card__film-title">${film name}</h2>
        <ul class="card__info-wrapper">
          <li class="card__divider">
            <span class="card__subdivision">Vote / Votes</span>
            <div class="test">
              <span data-card-avarage-votes class="card__vote-title">7.3 </span
              >/
              <span
                class="card__info-text card__vote-number"
                data-card-total-votes
                >1260</span
              >
            </div>
          </li>
          <li class="card__divider">
            <span class="card__subdivision">Popularity</span
            ><span class="card__info-text" data-card-popularity>100.2</span>
          </li>
          <li class="card__divider">
            <span class="card__subdivision">Original Title</span
            ><span class="card__info-text" data-card-original-title
              >A FISTFUL OF LEAD</span
            >
          </li>
          <li class="card__divider">
            <span class="card__subdivision">Genre</span
            ><span class="card__genre" data-card-genre>Western </span>
          </li>
        </ul>
        <p class="card__about">About</p>
        <p data-card-overview class="card__description">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang.
        </p>
        <div class="btn-wrapper">
          <button class="btn-add-watched" type="button">add to Watched</button>
          <button class="btn-add-queue" type="button">add to queue</button>
        </div>
        <div class="trailer__container">
          <button
            class="trailer__btn"
            type="button"
            data-id="${id}"
            data-name="${originalTitle}"
          >
            <svg class="trailer__icon" width="70" height="70">
              <use href="./images/sprite.svg#icon-youtube"></use>
            </svg>
            WATCH TRAILER
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
