footer {
  position: relative;
  bottom: 0px;
  //   box-shadow: -1px -8px 33px 6px rgba(0, 0, 0, 0.15);
  background-color: $footer-color;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__wrap {
  display: flex;
  margin-top: 10px;
}
.footer__list-item,
.footer__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: $footer-text-color;
}

.footer__list-item:not(:last-child) {
  margin-right: 5px;
}

.footer__list-icon {
  width: 14px;
  height: 13px;
  margin-right: 5px;
  margin-top: 3px;
}

.footer__btn {
  background-color: transparent;
  text-decoration: underline;
  transition: all 250ms linear;
  &:hover,
  &:focus {
    cursor: pointer;
    color: $button-color;
  }
}

// .footer__btn:hover .footer__list-icon {
//   width: 200px;
//   height: 200px;
// }
