.empty__container {
// display: none;
margin: 0 auto;

  @media screen and(min-width: 768px) {
    max-width: 800px;
    margin: -30px auto 0 auto;
    max-height: 300px;
  }

}

.empty__image {
    width: 100%;
    height: auto;
    display: block;
}