.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 10;
  overflow-y: scroll;
  transition: all 0.8s ease 0s;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 280px;
  padding: 48px 20px 40px 20px;

  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: $header-text-color;

  @media screen and (min-width: 768px) {
    width: 704px;
    padding-top: 40px;
    padding-left: 29px;
    top: 50%;
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    padding-top: 40px;
    padding-left: 29px;
    top: 50%;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  text-decoration: none;

  background: none;
  transition-property: transform;
  transition-duration: 500ms;

  &:hover {
    transform: scale(1.3);
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.general-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.card__img-wrapper {
  @media screen and (min-width: 768px) {
    margin-right: 68px;
  }

  @media screen and (min-width: 1280px) {
    margin-right: 16px;
  }
}

img {
  margin-bottom: 20px;
  width: 240px;
  height: 357px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 373.55px;
  }

  @media screen and (min-width: 1280px) {
    width: 375px;
    height: 478px;
  }
}

.card__film-title {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.15;

  color: $films-title-color;
  margin-bottom: 20px;
}

.card__info-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;

  @media screen and (min-width: 1280px) {
    width: 259px;
  }
}

.card__info-wrapper-left {
  margin-right: 39px;

  @media screen and (min-width: 1280px) {
    margin-right: 83px;
  }
}

.card__subdivision {
  display: flex;

  font-size: 12px;
  line-height: 1.33;
  color: $film-information-color;
}

.card__subdivision:not(:last-child) {
  margin-bottom: 8px;
}

.card__votes {
  display: flex;
  justify-content: center;
  display: flex;
  justify-content: flex-start;
}

.card__vote-title {
  display: flex;
  justify-content: center;

  width: 36px;
  height: 16px;

  font-size: 12px;
  color: $header-text-color;
  background: $modal-button-color;

  border-radius: 5px;
}

.card__vote-number {
  width: 36px;
  height: 16px;

  background: $footer-color;

  border-radius: 5px;
}

.card__info-text {
  line-height: 1.16;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 12px;
}

.card__genre {
  font-size: 12px;
  line-height: 1.33;
}

.card__about {
  line-height: 1.33;
  text-transform: uppercase;
}

.card__description {
  width: 240px;
  color: $films-title-color;
  line-height: 1.66;
  font-size: 12px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 264px;
    margin-bottom: 39px;
  }

  @media screen and (min-width: 1280px) {
    width: 391px;
    margin-bottom: 20px;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-add-watched {
  background: $modal-button-color;
  color: $header-text-color;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  border-radius: 5px;

  padding: 6px 27px;
  margin-right: 20px;
  width: 110px;
  height: 44px;

  transition-property: transform;
  transition-duration: 500ms;

  @media screen and (min-width: 768px) {
    padding: 13px 9px;
    margin-right: 20px;
    width: 125.03px;
  }

  transition-property: transform;
  transition-duration: 500ms;

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    padding: 13px 9px;
    margin-right: 20px;
    width: 125.03px;
  }

  @media screen and (min-width: 1280px) {
    padding: 13px 9px;
    margin-right: 20px;
    width: 136px;
  }
}

.btn-add-queue {
  color: $films-title-color;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;

  border: 1px solid $films-title-color;
  border-radius: 5px;

  padding: 13px;
  width: 110px;
  height: 44px;

  transition-property: transform;
  transition-duration: 500ms;

  &:hover {
    transform: scale(1.1);
  }

  @media screen and (min-width: 768px) {
    width: 125.03px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }
}
