.backdrop-team {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.644);
    z-index: 10;
    overflow-y: scroll;
    transition: all 0.8s ease 0s;
}

.backdrop-team.is-hidden-team {
    opacity: 0;
    pointer-events: none;
}

.modal-team {
    border-radius: 5px;
    position: absolute;
    width: 280px;
    padding: 48px 20px 40px 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $header-text-color;
    @media screen and (min-width: 768px) {
        width: 704px;
               top: 50%;
    }

    @media screen and (min-width: 1280px) {
        width: 806px;
           top: 50%;
    }
}

.modal__btn-close-team {
    position: absolute;
    top: 8px;
    right: 8px;
    text-decoration: none;
    
   background: none;
    transition-property: transform;
    transition-duration: 500ms;

    &:hover {
        transform: scale(1.3);
    }
}


.team__title {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 15px;

    @media screen and (min-width: 768px) {
        font-size: 20px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 26px;
    }
}

.team__wrapper-general {
    padding: 20px;
}

.team__wrapper-up {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    // width: 220px;
    margin-bottom: 20px;
    gap: 20px;

    @media screen and (min-width: 768px) {
        gap: 50px;
    }

    @media screen and (min-width: 1280px) {
        gap: 80px;
    }
}

.team__wrapper-down {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team__member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 5px 5px 11px -2px black;
  

    @media screen and (min-width: 768px) {
        width: 100px;
        height: 100px;
    }

    @media screen and (min-width: 1280px) {
        width: 120px;
        height: 120px;
    }
}

.team__link {
    transition-property: transform;
    transition-duration: 500ms;

    &:hover {
        transform: scale(1.3);
    }
}

.team__name {
    font-size: 12px;
    color: $films-title-color;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}

.team__position {
    font-size: 12px;
    color: $header-underline-color;

    @media screen and (min-width: 768px) {
        font-size: 16px;
    }
}


