.tui-pagination .tui-page-btn {
  transition: background-color 250ms linear;
  font-family: relative;

  font-weight: 600;

  &:hover {
    background-color: #ff6b01;
    transform: scale(1.15);
  }
}

.tui-pagination .tui-is-selected {
  border: 1px solid #ff6b02;
  background-color: #ff6b02;
  transition: background-color 250ms linear;
  &:hover {
    background-color: #ff6b01;
  }
}

.tui-pagination .tui-page-btn {
  border-radius: 11px;
  margin-right: 5px;
  border: 2px solid #ddd;
}

.tui-pagination .tui-is-selected {
  border: 2px solid #ff6b02;
}

.tui-is-selected {
  border: 2px solid #ff6b02;
}

.tui-pagination .tui-first-child.tui-is-selected {
  border: 2px solid #ff6b02;
}

.darkmode .tui-pagination .tui-is-selected {
  border: 2px solid $darkmode-color-two;
}

.tui-page-btn.tui-next {
  margin-left: 0;
  margin-right: 5px;
}

@media screen and (max-width: 768px) {
  .tui-pagination {
    height: 50px;
  }
  .tui-page-btn.tui-prev-is-ellip.tui-first-child,
  .tui-page-btn.tui-next-is-ellip.tui-last-child {
    display: none;
  }

  .tui-page-btn:nth-child(2) {
    display: none;
  }
  .tui-page-btn:nth-child(9) {
    display: none;
  }
}
