.register-form__tite {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.register-form__pre-tite {
  @include font(100, 14, 16);
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.register-form__text {
  font-size: 12px;
  color: $darkmode-color-two;
}

.register-form__link {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.register-form__btn {
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid orange;
  background-color: orange;
  color: #ffffff;
  @include font(500, 12, 14);
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.register-form__btn:active {
  transform: scale(0.95);
}

.register-form__btn:focus {
  outline: none;
}

.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.register-form__sign-in,
.register-form__sign-up {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 0 20px;
  @media screen and (min-width: 768px) {
    padding: 0 30px;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 50px;
  }
}

.register-form__input {
  color: #000;
  background-color: rgba(230, 228, 122, 0.288);
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 20px;
}
.register-form__input::placeholder {
  color: rgba(71, 69, 64, 0.588);
}
.register-form__box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(35, 39, 14, 0.147),
    0 10px 10px rgba(117, 129, 93, 0.11);
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 320px;
  max-width: 100%;
  min-height: 700px;
  @media screen and (min-width: 425px) {
    width: 405px;
  }

  @media screen and (min-width: 768px) {
    width: 688px;
    min-height: 480px;
    top: 10%;
  }

  @media screen and (min-width: 1024px) {
    width: 768px;
  }
}

.register-form__container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  top: 0;
  width: 100%;
  height: 50%;
  z-index: 2;
  @media screen and (min-width: 768px) {
    left: 0;
    width: 50%;
    height: 100%;
  }
}

.register-form__box.right-panel-active .sign-in-container {
  transform: translateY(100%);
  @media screen and (min-width: 768px) {
    transform: translateX(100%);
  }
}

.sign-up-container {
  top: 0;
  height: 50%;
  width: 100%;
  opacity: 0;
  z-index: 1;
  @media screen and (min-width: 768px) {
    left: 0;
    height: 100%;
    width: 50%;
  }
}

.register-form__box.right-panel-active .sign-up-container {
  transform: translateY(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
  @media screen and (min-width: 768px) {
    transform: translateX(100%);
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  @media screen and (min-width: 768px) {
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
  }
}

.register-form__box.right-panel-active .overlay-container {
  transform: translateY(-100%);
  @media screen and (min-width: 768px) {
    transform: translateX(-100%);
  }
}

.overlay {
  background: #ffae17;
  background: -webkit-linear-gradient(to top, #ff6b01, #ecb500);
  background: linear-gradient(to top, #ff6b01, #ecb500);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  height: 200%;
  width: 100%;
  transition: transform 0.6s ease-in-out;
  transform: translateY(-50%);
  @media screen and (min-width: 768px) {
    left: -100%;
    height: 100%;
    width: 200%;
    background: -webkit-linear-gradient(to right, #ff6b01, #ecb500);
    background: linear-gradient(to right, #ff6b01, #ecb500);
    transform: translateX(0);
  }
}

.register-form__box.right-panel-active .overlay {
  transform: translateY(0);
  @media screen and (min-width: 768px) {
    transform: translateX(50%);
  }
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  transition: transform 0.6s ease-in-out;
  height: 50%;
  width: 100%;
  transform: translateY(50%);
  @media screen and (min-width: 768px) {
    height: 100%;
    width: 50%;
    transform: translateX(0);
  }
}

.overlay-left {
  transform: translateY(-20%);
  @media screen and (min-width: 768px) {
    transform: translateX(-20%);
  }
}

.register-form__box.right-panel-active .overlay-left {
  transform: translateY(0);
  @media screen and (min-width: 768px) {
    transform: translateX(0);
  }
}

.overlay-right {
  transform: translateY(100%);
  @media screen and (min-width: 768px) {
    right: 0;
    transform: translateX(0);
  }
}

.register-form__box.right-panel-active .overlay-right {
  transform: translateY(120%);
  @media screen and (min-width: 768px) {
    transform: translateX(20%);
  }
}

.social__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// error box

.errorlabel {
  display: block;
  color: #c92b2b;
  width: 100%;
  text-decoration: underline;
}
.register-form__close-btn {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  z-index: 1000;
  transition: $transition;
  @include displayFlex();
  &:hover,
  &:focus {
    background-color: orange;
    transform: scale(1.05);
    cursor: pointer;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.register-form__box.right-panel-active .register-form__close-btn {
  border: 1px solid #fff;
}

// ================================
.header__box-login-logout {
  // position: absolute;
  padding: 0;
  top: auto;
  right: 32px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #ffffff;

  & > span {
    font-size: 11px;
  }
  @media screen and(min-width: 480px) {
    top: 130px;
    & > span {
      font-size: 12px;
    }
  }
}

button:hover {
  cursor: pointer;
}

.header__btn-login {
  font-size: 10px;
  text-align: center;
  border: 1px solid #ffffff;
  @include displayFlex();
  padding: 8px 15px;
  border-radius: 20px;
  color: #ffffff;
  background: rgba(255, 107, 1, 0.542);
  transition: 250ms;
  @media screen and(min-width: 768px) {
    font-size: 12px;
    text-transform: uppercase;
    animation: spinLogin 4000ms infinite;
  }

  &:hover,
  &:focus {
    background: $button-color;
    cursor: pointer;
    transform: scale(0.95);
  }
}

#loginUser {
  display: none;
  @media screen and (max-width: 425px) {
    width: 100px;
  }

  &:hover .header__btn-login {
    font-size: 15px;
    color: aquamarine;
    display: block;
  }
}

@keyframes spinLogin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.header__btn-login:active {
  transform: scale(0.95);
}

.user-menu {
  position: relative;
  &__box {
    position: absolute;
    text-transform: none;
    top: 57px;
    right: 52px;
    width: 200px;
    background: rgba(0, 0, 0, 0.699);
    backdrop-filter: blur(5px);
    color: rgb(255, 255, 255);
    @include font(700, 18, 20);
    border-radius: 15px;
    display: none;
    z-index: 5;
    flex-direction: column;
    justify-content: space-between;
    transition: 250ms;
  }
  &__first-letter {
    @include displayFlex();
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 20%;
    background: linear-gradient(to bottom, #00a2ff 50%, #fbff00 50%);
    transition: 950ms;
    @media screen and(min-width: 768px) {
      animation: spinLogin 4500ms infinite;
    }
    &:hover + .user-menu__box {
      display: flex;
    }
    &:hover,
    &:focus {
      background: linear-gradient(to bottom, #d30000 50%, #242121 50%);
      cursor: pointer;
      transform: scale(1.25);
    }
  }

  &__title-hover {
    @include displayFlex();
    text-align: center;
    padding: 10px 5px;
  }

  &.active-user-menu &__box {
    display: flex;
    &:before {
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: transparent;
      z-index: -1;
    }
  }
  &.active-user-menu &__title-hover {
    display: none;
  }
  &__hiden {
    padding: 10px;
    border-radius: 15px;
  }
  &.active-user-menu &__hidden {
    display: block;
  }
  &__item {
    padding: 5px;
    border-radius: 10px;
    transition: 250ms;
    &:hover {
      cursor: pointer;
      background-color: rgb(255, 255, 255);
      transform: scale(0.95);
      color: #050404;
    }
  }
  &__item {
    border-bottom: 1px solid rgb(252, 237, 237);
    margin-bottom: 10px;
    text-align: center;
  }
  &__item--btn {
    @include displayFlex();
    &:hover {
      background: orange;
    }
  }
  &__btn-logout {
    @include displayFlex();
    background: none;
    color: inherit;
  }
}

.logout__icon {
  padding: 0;
  width: 25px;
  height: 25px;
  margin: 0;
  margin-left: 6px;
}

.user-menu__btn-logout {
  font-weight: 700;
  display: flex;
  align-items: center;
  color: rgb(253, 17, 17);
}

.user-menu__item-title {
  text-align: center;
  margin-bottom: 10px;
  color: orange;
  border: 1px solid orange;
  border-radius: 15px;
  padding: 8px;
}
.gmail__login {
  width: 35px;
  height: 35px;
  margin: 0;
  margin-top: 5px;
}
.social__btn--google {
  background: inherit;
}
